*{
    box-sizing: border-box;
   
}
.clear-float{
    clear: both;
}

.container{
    width: 100%;
    margin: auto;
    text-align: center;
    
}
.box{
    width: 100%;
    height: 400px;
    margin-bottom: 50px;
}
.box1{
    width: 60%;
    height: 400px;
    background-color: red;
    
}
.box2{
    width: 40%;
}
.hinhcon1{
    height: 200px;
}
.boxcon1{
    background-color: green;
}
.boxcon2{
    background-color: blue;
}
.can{
    text-align: center;
    line-height: 400px;
    color: white;
    font-size: 30px;
}
.can1{
    text-align: center;
    line-height: 200px;
    color: white;
    font-size: 30px;
}
.hinh1{
    float: left;
}
.box3{
    width: 784.8px;
    height: 400px;
    background-color: red;
    margin-right: 15px;
           
}
.can2{
    text-align: center;
    line-height: 400px;
    color: white;
    font-size: 30px;
}
.can3{
    text-align: center;
    line-height: 200px;
    color: white;
    font-size: 30px;
}
.box4{
    width: 40%;
}
.hinh2{
    float: left;
}
.boxcon3{
    height: 200px;
    background-color: green;
}
.boxcon4{
    height: 200px;
    background-color:blue ;
}

.khoi3{ 
    float: left;
    width: 33.33%;
    text-align: center;
    line-height: 400px;
    color: white;
    font-size: 30px;       
}
    
.box5{
    background-color: red;
    height: 400px;
}
.box6{
    background-color: green;
    height: 400px;
}
.box7{
    background-color: blue;
    height: 400px;
}
.khoi4{ 
    float: left;
    width: 434.33px;
    text-align: center;
    line-height: 400px;
    color: white;
    font-size: 30px;
    
}
    
.box8{
    background-color: red;
    height: 400px;
    margin-right: 15px;
}
.box9{
    background-color: green;
    height: 400px;
    margin-right: 15px;
}
.box10{
    background-color: blue;
    height: 400px;
}

    



