<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <div id="container">
        <div class="box">
            <div class="box1 hinh1 can">
                <span>Height 400px</span>
            </div>
            <div class="box2 hinh1 can1">
                <div class="boxcon1 hinhcon1">
                    <span> Height 200px</span>
                </div>
                <div class="boxcon2 hinhcon1 can1">
                    <span>Height 200px</span>
                </div>
            </div>
        </div>
        <div class="clear-float"></div>

        <div class="box">
            <div class="box3 hinh2 can2">
                <span>Height 400px</span>
            </div>
            <div class="box4 hinh2">
                <div class="boxcon3 hinhcon3 can3">
                    <span> Height 200px</span>
                </div>
                <div class="boxcon4 hinhcon3 can3">
                    <span>Height 200px</span>
                </div>
            </div>
        </div>
        <div class="clear-float"></div>

        <div class="box">
            <div class="box5 khoi3">
                <span>Height 400px</span>
            </div>
            <div class="box6 khoi3">
                <span>Height 400px</span>
            </div>
            <div class="box7 khoi3">
                <span>Height 400px</span>
            </div>

        </div>
        <div class="clear-float"></div>

        <div class="box">
            <div class="box8 khoi4">
                <span>Height 400px</span>
            </div>
            <div class="box9 khoi4">
                <span>Height 400px</span>
            </div>
            <div class="box10 khoi4">
                <span>Height 400px</span>
            </div>

        </div>
        <div class="clear-float"></div>
    </div>
</body>

</html>