*{
    box-sizing: border-box;
}
.container{
    width: 100%;
    background-color:#F4F7FA ;
    margin: auto;
    font-family: sans-serif;
    
   
}
.menu{
    width: 1250px;
    height: 39px;
    display: flex;
    flex-direction: row;
    background-color: #F4F7FA;
    

}
.mn{
    height: 24px;
    margin-left: 50px;
    margin-top: 30px;
    
   
    
}
.mn2{
    margin-left: 20px;

}
.dautien{
    margin-left: 20px;
    margin-top: 30px;

}
.trangchu{
    width: 70.55px;
    height: 19px;
}
.noidung{
    display: flex;
    flex-direction: row;
    margin-right: 50px;
    margin-top: 30px;
}
.chitiet{
    margin-left: 50px;
}
.bando{
    width: 416.66px;
    height: 1000px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    
}
.box{
    width: 770.33px;
    height: 160px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(0,0,0,.15);
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
}
.time{
    width: 160px;
    height: 160px;
    display: flex;
    flex-direction:column;
    text-align: center;
    color: white;
   
}
.infor{
    width: 610.33px;
    height: 160px;
    display: flex;
    flex-direction: column;
}
.year{
    height: 40px;
    background-color: #ef5321;
    border-top-left-radius: 4px;
    padding: 10px;
}
.datemonth{
    height: 120px;
    background-color: #E96B3B;
    padding-top: 20px;

}
.date{
    font-size: 2.5rem;
    line-height: 2.5rem;
}
a{
    font-size: 16px;
    text-decoration: none;
    color:#464646
}
.infor{
    padding-left: 15px;
    color:#464646
}
.tenlop{
    height: 25px;
    margin-top: 20px;
}
.giangvien{
    height: 21px;
    margin-top: 10px;
}
.thoigian{
    height: 30px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.dangky{
    margin-bottom: 10px;
    color:#4D96F2;
}
.timeitem1{
    margin-left: 50px;
}
i{
    font-size: 13px;
}
.tl{
    font-size: 1.3em;
}
.year2{
    background-color: #4482F2;
}
.dm2{
    background-color: #4D96F2;
}
.year3{
    background-color: #ED9720;
}
.dm3{
    background-color: #F2BB13;
}
.year4{
    background-color: #428D2E;
}
.dm4{
    background-color:#56B447;
}
.coso2{
    height: 500px;
    
}

.nhung{
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(0,0,0,.15);
}
.coso{
    width: 416.66px;
    height: 48px;
}


