body {
  font-family: sans-serif;
}
.menu {
  width: 97%;
  height: 60px;
  background-color: #000000;
  display: flex;
  flex-direction: row;
}
.menu > li > a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  line-height: 60px;
  text-transform: uppercase;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.menu > li {
  padding: 0% 6%;
}
.menu1 {
  position: relative;
}
.menu > li > a > i {
  font-size: 30px;
  color: white;
  top: 5px;
  right: 10%;
}
.sub_menu {
  width: 140px;
  padding: 0px 0px;
  display: none;
  position: absolute;
  top: 100%;
  left: 26%;
  background-color: #548999;
}
.sub_menu > li {
  border-top: 1px dotted whitesmoke;
  line-height: 30px;
}
.sub_menu > li > a {
  color: white;
}
.menu > li > a:hover {
  opacity: 0.5;
}
.menu1:hover .sub_menu {
  display: block;
}

.noidung {
  display: flex;
  flex-direction: row;
  margin-right: 50px;
  margin-top: 100px;
}
.chitiet {
  margin-left: 50px;
}
.bando {
  width: 416.66px;
  height: 1000px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}
.box {
  width: 770.33px;
  height: 160px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
}
.time {
  width: 160px;
  height: 160px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}
.infor {
  width: 610.33px;
  height: 160px;
  display: flex;
  flex-direction: column;
}
.year {
  height: 40px;
  background-color: #ef5321;
  border-top-left-radius: 4px;
  padding: 10px;
}
.datemonth {
  height: 120px;
  background-color: #e96b3b;
  padding-top: 20px;
}
.date {
  font-size: 2.5rem;
  line-height: 2.5rem;
}
a {
  font-size: 16px;
  text-decoration: none;
  color: #464646;
}
.infor {
  padding-left: 15px;
  color: #464646;
}
.tenlop {
  height: 25px;
  margin-top: 20px;
}
.giangvien {
  height: 21px;
  margin-top: 10px;
}
.thoigian {
  height: 30px;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.dangky {
  margin-bottom: 10px;
  color: #4d96f2;
}
.timeitem1 {
  margin-left: 50px;
}
i {
  font-size: 13px;
}
.tl {
  font-size: 1.3em;
}
.year2 {
  background-color: #4482f2;
}
.dm2 {
  background-color: #4d96f2;
}
.year3 {
  background-color: #ed9720;
}
.dm3 {
  background-color: #f2bb13;
}
.year4 {
  background-color: #428d2e;
}
.dm4 {
  background-color: #56b447;
}
.coso2 {
  height: 500px;
}

.nhung {
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}
.coso {
  width: 416.66px;
  height: 48px;
}
.box {
  transition: transform ease 0.5s;
}
.box:hover {
  transform: scale(1.1);
}
.foot {
  background-color: #151515;
  width: 100%;
  margin-top: 50px;
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
}
.navifoot {
  margin: 8px 0 25px 0;
  flex: 0 0 25%;
}
.navifoot > h4 {
  font-size: 20px;
  font-weight: 600;
}
.academy > p {
  font-family: sans-serif;
  font-size: 13px;
  text-align: left;
  padding-left: 22%;
}
.sanpham > p {
  font-family: sans-serif;
  font-size: 13px;
  text-align: left;
  padding-left: 36%;
}
.lienhe > p {
  font-family: sans-serif;
  font-size: 13px;
  text-align: left;
  padding-left: 40%;
}
.theodoi > p {
  font-family: sans-serif;
  font-size: 13px;
  text-align: left;
  padding-left: 24%;
  position: relative;
}
input:focus {
  outline: none;
}
.dangky1 {
  width: 100px;
  height: 30px;
  border-radius: 50px;
  border: none;
  background-color: tomato;
}
.email {
  height: 30px;
  border-radius: 5px;
}
.backtop {
  width: 30px;
  height: 25px;
  background-color: rgb(60, 245, 60);
  position: fixed;
  right: 0;
  bottom: 0;
}
.arrow {
  text-align: center;
}
