*{
    margin: 0px;
    padding: 0px;
}
#wrapper{
    width: 100%; 
}
li{
    list-style: none;
    padding: 5px 5px;
    border-bottom: 1px dotted #dedede;  
}
a{
    text-decoration: none;
    text-transform: uppercase;
    color:white;
    font-family: sans-serif;
}
.main_menu{
    width: 250px;
    height: 200px;
    background-color:#07855f;
    position: relative;    
}
.main_menu .sub_menu{
    display: none;
    width: 250px;
    height: 200px;
    background-color:#07855f;
    position: absolute;
    top: 0px;
    left: 100%;
    
}
.main_menu li:hover> .sub_menu{
    display: block;
}
a:hover{
    color: tomato;
}
